<%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-right') do %>  
  <div class="input-group">  
    Find User:  <%= search_field_tag :search, params[:search], placeholder: "Location Code", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
