<h3>Your Plants:</h3><br>

<p>
<% @plants.each do |plant| %>
    <%= link_to "#{plant.name}", plant_path(plant) %>, Most recent water time @ (insert chain or scope metod for return of last date and time for water_log) <br>
<% end %>




