<h3>Watering Log:</h3>
Plant: <%= @watering.plant.name %>
Date: <%= @watering.water_date %> Time: <%= @watering.water_time %> <br>

<%= link_to 'Edit Watering Log', edit_waterlog_path(@watering) %>


